body {
  overflow: hidden;
  min-height: 100vh;
  background: black;
  cursor: crosshair;
}

.bubble {
  position: absolute;
  border-radius: 300px;
  background: rgba(255, 166, 0, 0.792);
  opacity: 0;
  animation: anim 15s forwards;
  filter: hue-rotate(0deg);
  transition: 0.1s;
}

@keyframes anim {
  to {
    top: -275px;
    opacity: 1;
    filter: hue-rotate(720deg);
    left: var(--left);
  }
}

.score {
  color: rgba(255, 255, 255, 0.084);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 80vh;
  margin: 0;
  text-align: center;
}
h1 {
  color: white;
  font-size: 10rem;
}
