body {
  height: 100vh;
  background-color: #83af09;
  background-image: linear-gradient(
    225deg,
    #97a86a 0%,
    #6cb15d 50%,
    #b1d07e 100%
  );
}

#wrapper {
    margin-top: 10%;
  margin-left: 50%;
  transform: translateX(-50%);
  background: rgb(224, 205, 161);
  /* background: transparent; */
  border-radius: 0.7rem;
  width: 300px;
  height: 300px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.356);
}
#image-wrapper {
    display: flex;
}

#image {
margin: auto;
width: 150px;
margin-top: 70px;
filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.162));
}

#header {
  display: flex;
  justify-content: space-around;
  width: fit-content;
  margin: auto;
  align-items: center;
}

#button {
  margin-top: 19px;
  height: 30px;
  line-height: 30px;
  text-align: center
  line-height: 30px;
  border-radius: 0.7rem;
  cursor: pointer;
  text-align: center;
  background: rgb(63, 128, 227);
  color: white;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

#number {
  margin-right: 5px;
  background: rgba(0, 0, 0, 0.094);
  border-radius: 0.3rem;
  padding: 5px;
  font-size: 0.7rem;
}
